<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/me.png" alt="Reyvaldi Zakaria" class="img-thumnail rounded-circle" width="200" />
            <h1 class="display-4">Reyvaldi Zakaria</h1>
            <p class="lead">Mahasiswa | Teknik Informatika</p>
        </div>
    </div>
</div>